
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* primary-color: #76c893; */